body{
    margin: 0;   
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-image: url("assets/comp.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    background-color: #4e7869;
    padding: 2em;
}
#titleJob, #locationJob{
            height: 2em;
}
label{
    color: white;
    font-size: large;
    padding: 20px;
}

button{
    background-color: rgb(139, 50, 50);
    color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 45%;
}

h1{
    display: inline-block;
    margin-left: 8em;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #CE5937;
}

#Showcase{
         background-color: rgba(255, 255, 255, 0.4);
         width: 50%;
         margin-left: 10px;
        overflow-y: scroll;
         overflow-x: hidden;
         height: 700px;
         box-sizing: content-box;
}
#Showcase a{
    color: black;
    text-decoration: none;

}
#Showcase  a:hover{
    font-weight: 600;
}
#Showcase ul{
    width: 100%;
    height: 700px;
}
#Showcase li{
    text-align: initial;
    padding: 10px;   
}
footer{
    background-color: #4e7869;
    height: auto;
    padding: 20px;
    color: white;
    text-align: center;
}
footer p{
    margin-left: 3em;
}
footer ul li{
    display: inline-block;
    margin: 20px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

